* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.centerBox {
    background-color: rgb(32, 35, 41);
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 2%;
}

.cardImages {
    height: 45%;
    width: 32%;
    display: flex;
    flex-wrap: row;
}

.imageBox {
    height: 100%;
    width: 30%;
}

.textImage {
    height: 100%;
    width: 70%;
    background-color: rgb(60,62,68);
    padding-left: 2%;
}

h3 {
    color:white;
    margin-top: 3%;
    margin-bottom: 1%;
}

h6 {
    color:white;
    margin-bottom: 4%;
    font-weight: normal;
    font-size: small;
}

p {
    color:grey;
    margin-bottom: 1%;
    font-size: x-small;
}

li {
    list-style-type: none;
}

li::before {
    content: "•";
    display: inline-block;
    width: 2%;
    color: green;
}

.redDot li::before  {
    content: "•";
    display: inline-block;
    width: 2%;
    color: red;
}

img {
    height: 100%;
    width: 100%;
}